extends base 

block content 

    main.main
        h1 Cours chez insertsite 
        .card-container
            .card
                .card_details__port
                    h1.card__details__h1 Semaine 1 
                    p.cours__text - Cours en javascript vanilla 
                    p.cours__text - Réalisation de fonctions simples 
                    p.cours__text - Réalisation de timer simple
                    p.cours__text - Réalisation d'une calculatrice simple en JS
            .card
                .card_details__port
                    h1.card__details__h1 Semaine 2 
                    p.cours__text - Réalisation d'une application méteo 
                    p.cours__text - Création en js/css/html d'un jeu de morpion simple 
            .card
                .card_details__port
                    h1.card__details__h1 Semaine 3 
                    p.cours__text - Réalisation de timer décomptant une animation de fusée 
            .card
                .card_details__port
                    h1.card__details__h1 Semaine 4 jusqu'a fin du bootcamp
                    p.cours__text - Suivi d'un tutoriel udemy sur la réalisation d'une application sous nodeJS 
                    p.cours__text - Installation Utilisation de la base de donnée mongoDB en lien avec l'appli nodeJS
                    p.cours__text - Utilisation de postman en intéraction avec l'API pour l'inscription, la connexion, modification et suppression des éléments en bdd 
                    p.cours__text - mise en place des fichiers controllers , routes, models pour le back-end de l'application
                    p.cours__text - Mise en place d'un système d'authentification, de connexion et déconnexion  en nodeJS
                    p.cours__text - Création sous nodeJS d'utilisateurs et d'articles liés à la base de données et affichage en front des éléments de la bdd
                    p.cours__text - Création des pages fronts dans le dossier views de l'application sous le langage server-side pug
                    p.cours__text - Affichage de formulaires de connexion en front et d'une fonction de déconnection
                    p.cours__text - Affichage du profil utilisateurs avec les données affichées en bdd
                    p.cours__text - Données et mot de passe utilisateur modifiables dans le profil