extends base 

block content 

    main.main
        h1 Expériences
        .card-container
            .card
                .card_details__port
                    h1.card__details__h1 PHP
                    p.cours__text - Travail de création de site pendant formation bootcamp sur Symfony 6 
                    p.cours__text - Travail de corrections et mise à jour sur les logiciels en back chez Sipartech
                    p.cours__text - Mysql
            .card
                .card_details__port
                    h1.card__details__h1 JS
                    p.cours__text - suivi de cours nodeJS
                    p.cours__text - création site simple en nodeJS et mongoDB
            .card
                .card_details__port
                    h1.card__details__h1 Redmine on debian
                    p.cours__text - Installation de redmine sur debian pour la mise en place sur un nouveau serveur chez Sipartech
            .card
                .card_details__port
                    h1.card__details__h1 Pug
                    p.cours__text - Création de pages front du site nodeJS en pug

        h1 Projets
        .card-container
            .card
                .card_details__port
                    h1.card__details__h1 Retrolik
                    p.cours__text - Projet de groupe en création de site sur symfony
                    p.cours__text - Travail en back-end sur les controllers et les formulaires 
                    a.link_portfolio(href=`https://github.com/` target='blank') Détails